@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap'); /* QuickSand Font 600 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(49, 51, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    flex-direction: column;
}

.title-text {
    font-size: 60px;
    font-family: "Quicksand", serif;
    color: rgb(255, 255, 255);
}


.gameboard {
    width: calc(300px + 3 * 2px);
    height: calc(300px + 3 * 2px);
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.75rem;
    gap: 2px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(44, 46, 51);
    border: solid 2px rgba(0, 0, 1, 0.4);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    gap: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.box:hover {
    background-color: rgba(0, 0, 1, 0.339);
}

.reset {
    width: 100px;
    height: 100px;
    background-color: rgb(44, 46, 51);
    border: solid 2px rgba(0, 0, 1, 0.4);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    gap: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 4rem;
    color: rgb(31, 151, 249);
}

.reset:hover {
    background-color: rgba(31, 151, 249, 0.189);
}

#gameOver {
    transition: opacity 0.2s ease-in-out;
}

.smoothHide {
    opacity: 0;
}

.reset:active span,
.reset:focus span {
    animation-name: spin;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box:has(.circle) {
    background-color: rgba(35, 165, 89, 0.172);
}

.box:has(.cross) {
    background-color: rgba(242, 63, 66, 0.22);
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px rgb(35, 165, 90);
}

.cross {
    position: relative;
    padding: 30px;
    overflow: hidden;
    /* hide overflow of pseudo elements */
}

.cross:before,
.cross:after {
    position: absolute;
    content: '';
    background: rgb(242, 63, 67);
    display: block;
    width: 100%;
    height: 12.5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* center the X vertically and horizontally: */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    border-radius: 0.75rem;
}

.cross:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.info {
    margin-top: 20px;
    font-size: 36px;
    font-family: "Quicksand", serif;
    color: rgba(255, 255, 255, 0.64);
}
